In [1]:
import pandas as pd

from libs.utils import mapping_new_features_from_reference

In [2]:
# finding the target m/z values within the set error range
# Prepare the a dataset(matchinig_dataset) to be matched with the reference dataset(reference_dataset)

reference_dataset = pd.read_excel('./data/example_metabolite_ID.xlsx', sheet_name='ID')
matching_dataset = pd.read_excel('./data/example_another_dataset_mapping_example.xlsx', sheet_name='mapping_target')

In [3]:
# reference_dataset should include the "Features", "ID", and "ID_group"

reference_dataset.head(3)

        Features        mz              ID ID_group
0  2.24_132.0663  132.0663  Hydroxyproline       AA
1  2.63_132.1033  132.1033         Leucine       AA
2    2.5_118.066  118.0660          Indole   indole

In [4]:
# matching_dataset should include the "Features", and "mz" columns

matching_dataset.head(3)

        Features        mz
0   0.21_245.856  245.8560
1  0.22_241.8829  241.8829
2  0.23_197.9048  197.9048

In [5]:
# windows_ppm = error range (unit = ppm)

matching_results = mapping_new_features_from_reference(
    reference_dataset=reference_dataset,
    matching_dataset=matching_dataset,
    windows_ppm=20,
    is_save_file=True
)

mapping.csv files are saved

In [6]:
# mapped_features = features in matching_dataset
# refernce_metabolites = features in reference_dataset
# index indicates a mz value

matching_results.head(10)

         mapped_features reference_features                       ID ID_group
132.1028   0.94_132.1028      2.63_132.1033                  Leucine       AA
120.0813   1.61_120.0813      2.12_120.0815                 Indoline   indole
118.0658   1.61_118.0658        2.5_118.066                   Indole   indole
132.0662    1.9_132.0662      2.24_132.0663           Hydroxyproline       AA
146.0607   2.04_146.0607       2.5_146.0609  Indole-3-carboxaldehyde   indole
118.0657   2.04_118.0657        2.5_118.066                   Indole   indole
118.0661   6.31_118.0661        2.5_118.066                   Indole   indole
520.3405   6.82_520.3405      7.39_520.3406             LysoPC(18:2)   lysoPC
544.3401   6.84_544.3401      7.38_544.3401             LysoPC(20:4)   lysoPC
520.3406   6.95_520.3406      7.39_520.3406             LysoPC(18:2)   lysoPC